<form class="form" name="home-message" netlify>
  <div class="form__col">
    <div class="form-group">
      <label for="name" class="form-group__label">Your Name</label>
      <input type="text" name="name" id="name" placeholder="Your Name"
        class="form-group__input form-group__input--text">
    </div>
    <div class="form-group">
      <label for="email" class="form-group__label">Email Address</label>
      <input type="email" name="email" id="email" placeholder="Your Email Address"
        class="form-group__input form-group__input--text">
    </div>
  </div>

  <div class="form-group form-group--textarea">
    <label for="message" class="form-group__label">Your Message</label>
    <textarea name="message" id="message" class="form-group__textarea" placeholder="Your message"></textarea>
  </div>
  <div class="btn-group mt-0"><button class="btn btn--accent btn--deco btn--wide btn--bg-dark"><span>Send
        Message</span>
      <span class="accent accent--arrow"></span></button>
    <p class="text-sm font-italic">
      I typically respond within 2–3 business days. <br>
      Can’t wait to hear what you’re working on!
    </p>
  </div>
</form>