<footer class="footer">

      <div class="container">
            <div class="copyright">
                  <picture class="footer__logo">
                        <source srcset="/img/td-horiz.svg" media="(min-width: 768px)" />
                        <img src="/img/logo-vert.svg" alt="Tesori Design Logo" width="300" height="210" />
                  </picture>
                  <p class="text-sm">&copy; 2025 Tesori Design, LLC. All Rights Reserved.
                  </p>
            </div>


            <ul class="social-icons">
                  <li><a href="https://www.instagram.com/tesoridesign_/" target="_blank"><span class="sr-only">Instagram</span> <img src="/img/icon-insta.svg" width="40" height="40" alt=""></a>
                  </li>
                  <li><a href="https://www.threads.com/@tesoridesign_" target="_blank"><span class="sr-only">Threads</span> <img src="/img/icon-social-threads.svg" width="40" height="40" alt=""></a>
                  </li>
                  <li><a href="https://www.linkedin.com/in/tonitesori/" target="_blank"><span class="sr-only">LinkedIn</span> <img src="/img/icon-social-li.svg" width="40" height="40" alt=""></a>
                  </li>
                  <li><a href="https://github.com/Ttesori" target="_blank"><span class="sr-only">Github</span> <img src="/img/icon-social-gh.svg" width="40" height="40" alt=""></a>
                  </li>
                  <li><a href="mailto:hello@tesoridesign.com"><span class="sr-only">Email</span> <img src="/img/icon-em.svg" width="40" height="40" alt=""></a>
                  </li>
            </ul>
      </div>
      </div>
</footer>