<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ page_desc | default('Custom websites and design support for nonprofits and small businesses.') }}">
<link rel="icon" href="/img/icon-ty.svg" />
<!-- <link rel="preload" as="image" href="/img/hero-home.webp"> -->
<title>{{title | default('Websites & Design for Nonprofits and Small Businesses')}} | Tesori Design</title>
<link rel="stylesheet" href="/css/main.css">
<meta property="og:type" content="website">
<meta property="og:title" content="Tesori Design | Websites & Design for Nonprofits and Small Businesses">
<meta property="og:description" content="Custom websites and design support for nonprofits and small businesses.">
<!-- <meta property="og:image" content="https://tesori.netlify.app/img/og-image.jpg"> 
<meta property="og:url" content="https://tesori.netlify.app/"> -->
{{ preload | safe }}
<script defer data-domain="tesoridesign.com" src="https://plausible.io/js/script.js"></script>