<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ page_desc | default('Custom websites and design support for nonprofits and small businesses.') }}">
<link rel="icon" href="/img/icon-ty.svg" />
<!-- <link rel="preload" as="image" href="/img/hero-home.webp"> -->
<title>{{title | default('Websites & Design for Nonprofits and Small Businesses')}} | Tesori Design</title>
<link rel="stylesheet" href="/css/main.css">
{{ preload | safe }}
<script defer data-domain="tesoridesign.com" src="https://plausible.io/js/script.js"></script>
<meta property="og:type" content="article" />
<meta property="og:title" content="{{title | default('Websites & Design for Nonprofits and Small Businesses')}}" />
<meta property="og:description" content="{{ page_desc | default('Custom websites and design support for nonprofits and small businesses.') }}" />
<meta property="og:url" content="https://tesoridesign.com{{permalink}}" />
<meta property="og:image" content="https://tesoridesign.com{{og_img | default('/img/uploads/og-image-default.jpg')}}" />