<div class="nav">
  <button id="nav__toggle" aria-expanded="false" aria-controls="nav__menu" class="nav__toggle">
    <span class="sr-only">Open menu</span>
    <span class="nav__btn--open"><img src="/img/btn-open.svg" alt="" width="40" height="40"></span>
  </button>
  <div id="nav__overlay" hidden class="nav__overlay">
    <nav class="nav__menu" id="nav__menu">
      <ul class="nav__list">
        <li><a href="/" class="nav--home">Home</a></li>
        <li><a href="/about" class="nav--about">About</a></li>
        <li><a href="/services" class="nav--services">Services</a></li>
        <li><a href="/blog" class="nav--blog">Blog</a></li>
        <li><a href="/contact" class="nav--contact">Contact</a></li>
      </ul>
      <button id="nav__btn-wrap--close" class="nav__btn-wrap--close">
        <span class="sr-only">Close menu</span>
        <span class="nav__btn--close">X</span>
      </button>
    </nav>
  </div>
</div>