<div class="nav">
  <button id="nav__toggle" aria-expanded="false" aria-controls="nav__menu" class="nav__toggle">
    <span class="sr-only">Open menu</span>
    <span class="nav__btn--open"><img src="/img/btn-open.svg" alt="" width="40" height="40"></span>
  </button>
  <div id="nav__overlay" hidden class="nav__overlay">
    <nav class="nav__menu" id="nav__menu">
      <ul class="nav__list">
        <li><a href="/" class="nav--home">Home</a></li>
        <li><a href="/services/design-sos" class="nav--services">Design SOS</a></li>

        </li>
        <li class="has-submenu"><a href="/free-resources" class="nav--resources"><button aria-haspopup="true" aria-expanded="false" aria-controls="submenu-work" id="work-button" class="btn--submenu">Resources<span class="submenu-arrow">▾</span></button></a>
          <ul class="nav__l2" id="submenu-work" role="menu" aria-labelledby="work-button" hidden>
            <li role="none"><a href="/mailing-list">Ty's Little Free Library</a></li>
            <li role="none"><a href="/landing/brand-guidelines">Free Brand Guidelines Template</a></li>
            <li role="none"><a href="/landing/canva-social-graphics">5 Free Canva Templates</a></li>
          </ul>
        </li>
        <li><a href="/blog" class="nav--blog">Blog</a></li>
        <li><a href="/contact" class="nav--contact">Contact</a></li>
      </ul>
      <button id="nav__btn-wrap--close" class="nav__btn-wrap--close">
        <span class="sr-only">Close menu</span>
        <span class="nav__btn--close">X</span>
      </button>
    </nav>
  </div>
</div>