<nav class="nav nav--primary nav--full">
  <button id="btnMenu" class="primaryNav__btn primaryNav__btn--close" aria-label="Navigation menu" aria-expanded="false"
    aria-controls="primaryNav" aria-label="Menu">
    Menu
  </button>
  <nav id="primaryNav" class="primaryNav--hidden">
    <ul class="primaryNav__list font-title gap-3">
      <li>
        <a href="#" class="nav--home">Home</a>
      </li>
      <li>
        <a href="#" class="nav--about">About</a>
      </li>
      <li>
        <a href="#" class="nav--services">Services</a>
      </li>
      <li>
        <a href="#" class="nav--blog">Blog</a>
      </li>
      <li>
        <a href="#" class="nav--contact">Contact</a>
      </li>
    </ul>
  </nav>
</nav>