<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/icon-ty.svg" />
  <link rel="preload" as="image" href="/img/hero-home.webp">
  <title>{{title}}</title>
  <link rel="stylesheet" href="css/main.css">
</head>

<body class="{{ body_classes }}">
  {% include "components/header.html" %}
  <main>
    {{ content | safe }}
  </main>

</body>

<script src="js/main.js"></script>

</html>