<!DOCTYPE html>
<html lang="en">

<head>
  {% include "components/head.html" %}
</head>

<body class="{{ body_classes }}">
  {% include "components/header.html" %}
  <div class="body__content">
    {{ content | safe }}
  </div>
  {% include "components/footer.html" %}
</body>

<script src="/js/main.js"></script>
<!-- MailerLite Universal -->
<script>
  (function (w, d, e, u, f, l, n) {
    w[f] = w[f] || function () {
      (w[f].q = w[f].q || [])
        .push(arguments);
    }, l = d.createElement(e), l.async = 1, l.src = u,
      n = d.getElementsByTagName(e)[0], n.parentNode.insertBefore(l, n);
  })
    (window, document, 'script', 'https://assets.mailerlite.com/js/universal.js', 'ml');
  ml('account', '1489309');
</script>
<!-- End MailerLite Universal -->

</html>