.primaryNav {
  visibility: visible;
  opacity: 0;
  transition: all 0.2s;
}

.primaryNav--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  visibility: hidden;
  opacity: 1;
}

.primaryNav__btn {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  z-index: 999;
  width: 2rem;
  height: 2rem;
  text-indent: -999em;
  border: 0;
  cursor: pointer;
  transition: all 0.2s;
}

.primaryNav__btn--open {
  background: url('/img/btn-close.svg');
  background-size: cover;
  width: 2.5rem;
  height: 2.5rem;
}

.primaryNav__btn--close {
  background: url('/img/btn-open.svg');
  background-size: cover;
}

.primaryNav__list {
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--dark-overlay);
}

.primaryNav__list li {
  list-style: none;
  font-weight: bold;
  font-size: 1.2rem;
}

.primaryNav__list a {
  display: block;
  text-align: center;
  color: var(--color-white);
  text-decoration: none;
  padding: 1rem 1.5rem;
  background: none;
  transition: background 0.2s, color 0.2s, text-decoration 0.2s;
  text-shadow: var(--shadow-dark) 0px 0px 3px;
}

.primaryNav__list a:hover {
  background: var(--color-primary);
}

.nav__toggle {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.nav__btn--open {
  /* Style your hamburger button here */
}

.nav__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--dark-overlay);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease;
  z-index: 50;
}

.nav__overlay.open {
  opacity: 1;
  pointer-events: auto;
}

.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 80vw;
  display: flex;
  flex-direction: column;
}

.nav__list li {
  flex: 1;
}

.nav__list a {
  display: block;
  font-size: 1.5rem;
  color: white;
  text-shadow: var(--shadow-dark) 0px 0px 3px;
  font-family: var(--font-title);
  font-weight: bold;
  text-decoration: none;
  padding: 1rem 0;
  transition: all 0.2s;
  border-radius: 2rem;
}

.nav__list a:hover {
  color: #c9f24e;
  background: rgba(0, 0, 0, 0.3);
}

.nav__btn-wrap--close {
  background: none;
  border: 0;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: rgba(0, 0, 0, 0.3);
  padding: 0.5rem 0.75rem;
  border-radius: 55%;
  transition: all 0.2s;
  color: white;
}

.nav__btn--close {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  position: relative;
  padding: 0.5rem;
}

.nav__btn-wrap--close:hover {
  color: #c9f24e;
  background: rgba(0, 0, 0, 0.5);
}
