@import url('_mobile-nav.css');

@media (min-width: 768px) {
  .primaryNav {
    transition: none;
  }

  .primaryNav--hidden {
    position: relative;
    width: auto;
    height: auto;
    padding: auto;
    margin: auto;
    overflow: hidden;
    clip: none;
    white-space: normal;
    visibility: visible;
  }

  .primaryNav__list {
    height: auto;
    width: auto;
    flex-direction: row;
    position: relative;
  }

  .primaryNav__btn {
    display: none;
  }

  .primaryNav__list li {
    font-size: 1rem;
  }

  .primaryNav__list a {
    padding: 0.5rem 0.75rem;
    text-transform: lowercase;
    border-bottom: 3px solid transparent;
    transition: border 0.2s;
  }

  .primaryNav__list a:hover {
    background: none;
    text-shadow: var(--shadow-dark) 0px 0px 3px;
    color: var(--color-accent-light);
    border-bottom: 3px solid var(--color-accent);
  }

  .home .nav--home,
  .about .nav--about,
  .services .nav--services,
  .blog .nav--blog,
  .contact .nav--contact {
    color: var(--color-accent-light);
  }
  .home .nav--home::before,
  .about .nav--about,
  .services .nav--services,
  .blog .nav--blog,
  .contact .nav--contact {
    content: url('/img/star-accent.svg');
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: 0.65rem;
    position: relative;
    top: 2px;
  }
}

@media (min-width: 1024px) {
  .nav--primary {
    position: relative;
    top: 0.5rem;
  }
}
