@import url('_fonts.css');

:root {
  /* Brand Colors */
  --color-primary-lighter: #cbe0e5;
  --color-primary: #0396aa;
  --color-primary-med: #007c8d;
  --color-primary-dark: #006a7f;
  --color-primary-darker: #2e646b;
  --color-accent-light: #c9f24e;
  --color-accent: #bbe048;
  --color-accent-dark: #70ae17;
  --color-med: #9c9d98;
  --color-dark: #50524a;
  --color-light: #dbdbd7;
  --color-lighter: #f6f6f5;
  --color-white: #ffffff;
  --color-black: #000000;
  --shadow-dark: rgba(0, 0, 0, 0.7);
  --shadow-dark-4: rgba(0, 0, 0, 0.4);
  --shadow-subtle: rgba(0, 0, 0, 0.3) 0 0 0.2rem;
  --shadow-light: rgba(255, 255, 255, 0.7);
  --dark-overlay: rgba(0, 55, 65, 0.9);

  /* Breakpoints */
  --break-xs: 480px;
  --break-sm: 640px;
  --break-md: 768px;
  --break-lg: 1024px;
  --break-xl: 1280px;

  /* Fonts */
  --font-headline: 'FeltThatRegular', Georgia, 'Times New Roman', serif;
  --font-copy: 'Open Sans', Helvetica, Arial, sans-serif;
  --font-title: 'Roboto Slab', Georgia, 'Times New Roman', serif;
  --font-base-size: 16px;
  --font-size-lg: 18px;
  --line-height: 1.6;
  --line-height-sm: 1.5;
  --headline-line-height: 1.3;
}

html {
  font-size: var(--font-base-size);
  scroll-behavior: smooth;
}
p {
  line-height: var(--line-height);
  text-wrap: pretty;
}
h3,
h4 {
  text-wrap: pretty;
}
body {
  font-weight: 500;
}

:focus-visible {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}

@media (min-width: 764px) {
  html {
    font-size: var(--font-size-lg);
  }
}
