@import url('_fonts.css');

:root {
  /* Brand Colors */
  --color-primary: #0396aa;
  --color-primary-dark: #006a7f;
  --color-accent-light: #c9f24e;
  --color-accent: #bbe048;
  --color-accent-dark: ##84c12d;
  --color-dark: #595b52;
  --color-light: #dbdbd7;
  --color-lighter: #f6f6f5;
  --color-white: #ffffff;
  --color-black: #000000;
  --shadow-dark: rgba(0, 0, 0, 0.5);
  --shadow-light: rgba(255, 255, 255, 0.5);
  --dark-overlay: rgba(0, 106, 127, 0.9);

  /* Breakpoints */
  --break-xs: 480px;
  --break-sm: 640px;
  --break-md: 768px;
  --break-lg: 1024px;

  /* Fonts */
  --font-headline: 'FeltThatRegular', serif;
  --font-copy: 'Lato', Helvetica, Arial, sans-serif;
  --font-title: 'Roboto Slab', Georgia, 'Times New Roman', serif;
  --font-base-size: 18px;
  --line-height: 1.5;
}

html {
  font-size: var(--font-base-size);
}
p {
  line-height: var(--line-height);
}
