.accent {
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
  position: relative;
}

.accent--centered {
  margin: 0 auto;
  display: block !important;
}

.accent--star {
  background: url('/img/star-accent.svg') no-repeat;
  background-size: contain;
}

.accent--arrow {
  background: url('/img/accent-arrow.svg') no-repeat right;
  background-size: contain;
  background-position: left center;
  margin-top: 3px;
  width: 2.5rem;
  position: relative;
}

.accent--arrow-sm {
  background: url('/img/accent-arrow-sm-dk.svg') no-repeat center;
  background-size: contain;
  width: 2rem;
  position: relative;
  margin-top: 3px;
}

.accent--star-dark {
  background: url('/img/star-accent-dark.svg');
  background-size: contain;
}

.accent--underline {
  display: inline-block;
  background: url('/img/accent-underline.svg') no-repeat bottom left;
  background-size: contain;
  padding-bottom: 0.75rem;
}

.accent--underline-primary {
  display: block;
  background: url('/img/accent-underline-primary.svg') no-repeat bottom center;
  background-size: contain;
  height: 1.5rem;
  width: 85%;
}

.accent--underline-accent {
  display: block;
  background: url('/img/accent-underline-accent.svg') no-repeat bottom center;
  background-size: contain;
  height: 1rem;
  width: 100%;
  margin: 0 auto;
}

.accent--underline-accent-sm {
  height: 0.8rem;
}

.accent--dots {
  display: inline-block;
  background: url('/img/accent-dots.svg') no-repeat center;
  background-size: contain;
  height: 0.75rem;
  width: 2.5rem;
  position: relative;
  top: 40%;
}

.accent--border::after {
  content: '';
  width: 100vw;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 0;
  background: var(--color-accent);
  z-index: 49;
}

.accent--dashed::after {
  content: '';
  width: 100%;
  display: block;
  background: url('/img/accent-dashed-line.svg') no-repeat;
  height: 1rem;
  margin-top: 1rem;
}

.accent--sm-hide {
  display: none;
}

.accent--icon-checkbox {
  background: url('/img/icon-checkbox.svg') no-repeat;
  background-position: 0 0.5rem;
  background-size: contain;
  width: 4.5rem;
  height: 5rem;
  position: relative;
  top: -0.75rem;
}

.accent--icon-checkbox-accent {
  background: url('/img/icon-checkbox-accent.svg') no-repeat;
  background-position: 0 0.5rem;
  background-size: contain;
  width: 4rem;
  height: 3.5rem;
}

.accent--icon-checkbox--sm {
  width: 2.5rem;
  height: 3rem;
  top: 0.2rem;
}

.accent--icon-imagine {
  background: url('/img/icon-imagine.svg') no-repeat;
  background-size: contain;
  width: 4.5rem;
  height: 5.5rem;
}

.accent--credits {
  background: url('/img/icon-credits.svg') no-repeat;
  background-size: contain;
  width: 5rem;
  height: 5.5rem;
  position: relative;
  top: -1rem;
}

.accent--monthly {
  background: url('/img/icon-monthly-2.svg') no-repeat;
  background-size: contain;
  width: 4.75rem;
  height: 5.5rem;
  position: relative;
  top: -0.5rem;
  margin-right: 0.5rem;
}

.accent--icon-sparkle {
  background: url('/img/icon-sparkle-accent-dark.svg') no-repeat;
  background-position: 0 0.5rem;
  background-size: contain;
  width: 3.5rem;
  height: 5rem;
  position: relative;
  top: -1rem;
}

@media (min-width: 768px) {
  .accent--underline-primary {
    height: 1.25rem;
    width: 85%;
  }

  .accent--sm-hide {
    display: inline-block;
  }
}
