.cards {
  margin: var(--space-4) 0;
  gap: var(--space-8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* .cards--sm {
  margin: var(--space-2) 0;
  gap: var(--space-1);
} */

.card {
  padding: var(--space-8) var(--space-6);
  border-radius: var(--space-9);
  max-width: 30rem;
  text-align: center;
}

.cards--transparent {
  padding-top: var(--space-4);
  gap: var(--space-4);
}

.cards--transparent .card {
  padding: var(--space-0);
}

.card__img {
  width: 100%;
  height: auto;
}

.card__img--sm {
  max-width: 16rem;
}
.card__img--md {
  max-width: 23rem;
}

.cards--center .card {
  text-align: center;
}

.card--light {
  background: var(--color-lighter);
}

.card__title {
  font-family: var(--font-title);
  font-size: var(--text-xl);
  text-align: center;
  color: var(--color-primary);
  background: url('/img/accent-dashed-line.svg') bottom no-repeat;
  padding-bottom: var(--space-4);
  margin: var(--space-2) 0;
}

.card__title--uppercase {
  text-transform: uppercase;
}

.card__icon {
  display: block;
  margin: 0 auto var(--space-4);
}

.card__copy {
  margin-bottom: 0;
}

@media (min-width: 980px) {
  .cards {
    flex-direction: row;
    gap: var(--space-4);
  }
  .cards--sm {
    gap: var(--space-2);
  }
  .card {
    padding: var(--space-6);
    min-height: 17rem;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .cards--sm .card {
    min-height: 16rem;
    padding: var(--space-3);
  }
  .card__title {
    font-size: var(--text-lg);
  }
  .card__icon {
    max-height: 125px;
  }
}
