.cards {
  margin: var(--space-4) 0;
  gap: var(--space-8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cards--col {
  flex-direction: column;
}

.card {
  padding: var(--space-8) var(--space-6);
  border-radius: var(--space-9);

  text-align: center;
}

.card .text-left {
  text-align: left;
}

.card--row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-4);
}

.card--primary-dark {
  color: var(--color-primary-dark);
}

.cards--transparent {
  padding-top: var(--space-4);
  gap: var(--space-4);
}

.cards--transparent .card {
  padding: var(--space-0);
}

.card__img {
  width: 100%;
  height: auto;
}

.card__img--sm {
  max-width: 16rem;
}
.card__img--md {
  max-width: 23rem;
}

.card--light {
  background: var(--color-lighter);
  background: linear-gradient(
    45deg,
    rgba(246, 246, 245, 1) 0%,
    rgba(252, 252, 251, 1) 100%
  );
}

.card--shadow {
  box-shadow: var(--shadow-subtle);
}

.card__headline {
  font-family: var(--font-headline);
  color: var(--color-primary);
  font-size: var(--text-25);
  font-weight: normal;
  margin: var(--space-4) 0;
  text-align: center;
}

.card__title {
  font-family: var(--font-title);
  font-size: var(--text-xl);
  text-align: center;
  color: var(--color-primary);
  background: url('/img/accent-dashed-line.svg') bottom no-repeat;
  padding-bottom: var(--space-4);
  margin: var(--space-2) 0;
}

.card__title--uppercase {
  text-transform: uppercase;
}

.card__subtitle {
  font-family: var(--font-title);
  font-weight: bold;
  font-size: var(--text-base-lg);
  color: var(--color-primary-med);
  margin: var(--space-2) 0;
  line-height: 1.3;
}

.card__header-img {
  width: 100%;
  height: auto;
  max-width: 125px;
  max-height: 120px;
  display: block;
  margin: 0 auto;
}

.card__header .card__title {
  font-size: var(--text-xl);
  color: var(--color-primary-dark);
}

.card__icon {
  display: block;
  margin: 0 auto var(--space-2);
  max-width: 10rem;
}

.card__icon--lg {
  max-width: 20rem;
}

.card__copy {
  margin: 0.25rem 0 0.5rem;
  line-height: 1.5;
}

.card__btn {
  margin-top: 0.5rem;
}

.card__btn--sm {
  font-size: var(--text-base-sm);
}

.card strong {
  font-family: var(--font-title);
  font-weight: bold;
  color: var(--color-primary-dark);
}

.card--pricing {
  padding: 0;
  padding-bottom: 1.5rem;
  color: var(--color-primary-darker);
  max-width: var(--break-sm);
  box-shadow: var(--shadow-subtle);
}

.card--pricing .card__header {
  text-align: center;
  background: none;
  background-color: var(--color-primary);
  border-top-right-radius: var(--space-9);
  border-top-left-radius: var(--space-9);
}

.card--pricing .card__title {
  font-size: var(--text-base);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: var(--font-copy);
  color: #fff;
  background: url('/img/accent-dots.svg') no-repeat;
  background-size: 2rem 2rem;
  background-position: 1.5rem center;
  margin: 0;
  padding-top: 1rem;
  font-weight: bold;
}

.pricing__hours {
  font-size: 1.75rem;
  color: var(--color-primary);
  font-family: var(--font-title);
  font-weight: bold;
  margin: var(--space-4) 0 var(--space-1);
  line-height: 1;
}

.pricing__price {
  margin: 0;
  font-size: var(--text-lg);
  color: var(--color-primary-dark);
}

.pricing__fit,
.pricing__aside {
  padding: 0 2rem;
}

.pricing__fit-title {
  font-size: var(--text-lg);
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  color: var(--color-primary-med);

  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--color-accent-dark);
  text-underline-offset: 0.5rem;
  margin-bottom: 0.5rem;
}

.pricing__fit strong {
  font-weight: bold;
  color: var(--color-primary-dark);
  font-family: var(--font-copy);
}

.pricing__aside {
  font-size: var(--text-sm);
  font-style: italic;
}

.expect-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4rem;
  margin: var(--space-8) auto var(--space-2);
  justify-content: center;
}

.expect-list__list,
.expect-list__list li {
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
  color: var(--color-primary-darker);
}
.expect-list__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--space-2);
  column-gap: var(--space-8);
  justify-content: center;
}
.expect-list__list li {
  counter-increment: counter;
  list-style: none;
  flex: 0 0 100%;
  display: flex;
  gap: var(--space-4);
  line-height: 1.3;
}
.expect-list__list li::before {
  background: url('/img/icon-bullet-circle.svg') top left no-repeat;
  background-size: 2rem 2rem;
  height: 2rem;
  flex: 0 0 2rem;
  padding-top: 0.1rem;
  padding-left: 0.6rem;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.2) 0 0 0.5rem;
  font-size: 1.25rem;
  font-family: var(--font-title);
  font-weight: bold;
  content: counter(counter);
}

.expect-list h3 {
  flex: 0 0 100%;
  text-align: center;
  color: var(--color-primary);
  font-size: var(--text-xl);
  background: url('/img/accent-dashed-line.svg') no-repeat bottom;
  padding-bottom: 1rem;
  margin-bottom: 1.75rem;
}

.expect-list h3 .accent--icon-checkbox-accent {
  width: 3rem;
  height: 3.5rem;
  background-position: bottom left;
  margin-right: 0.5rem;
  position: relative;
  top: 0.1rem;
}

.service-deets {
  margin: var(--space-3) auto;
}

.service-deets .card {
  padding: var(--space-3) var(--space-8);
  padding-left: 3rem;
  background: var(--color-lighter) url('/img/accent-star-bullet.svg') no-repeat;
  background-position: 0.75rem 1.5rem;
  background-size: 1.5rem 1.5rem;
  text-align: left;
  font-size: var(--text-sm);
  color: var(--color-primary-darker);
  min-height: 0;
  align-self: stretch;
}

.service-deets .card--discount {
  background: var(--color-lighter) url('/img/accent-discount.svg') no-repeat;
  background-position: 0.75rem 1.25rem;
  background-size: 2rem 2rem;
}

.service-deets .card strong {
  font-family: var(--font-copy);
}

.service-deets h4 {
  color: var(--color-primary);
  font-family: var(--font-title);
  font-size: var(--text-base-lg);
  font-weight: bold;
  text-align: left;
  margin-bottom: 0;
  margin-top: 1rem;
}
.service-deets p {
  margin-top: 0.5rem;
  line-height: 1.4;
}

.card--light a {
  color: var(--color-primary-med);
  transition: all 0.2s;
}
.card--light a:hover {
  color: var(--color-primary-darker);
}

.service-cta {
  margin-top: var(--space-10);
  color: var(--color-primary-darker);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.service-cta--lighter {
  background: var(--color-lighter);
  padding: var(--space-8);
  border-radius: var(--space-4);
  margin-top: var(--space-6);
}

.service-cta h3 {
  font-size: var(--text-xl);
  font-family: var(--font-title);
  color: var(--color-primary);
  background: url('/img/accent-dashed-line.svg') no-repeat bottom;
  padding-bottom: 1rem;
  position: relative;
  margin-left: 5rem;
  margin-bottom: 1.25rem;
}

.service-cta h3::before {
  content: '';
  width: 5rem;
  height: 5rem;
  background: url('/img/icon-monthly.svg') no-repeat;
  background-size: contain;
  position: absolute;
  left: -5.5rem;
  top: -2.25rem;
  filter: drop-shadow(0 0 1rem #fff);
}

.service-cta .headline--credits::before {
  background-image: url('/img/icon-credits-2.svg');
  width: 6rem;
  height: 5rem;
  left: -6.5rem;
  top: -1.75rem;
}

.service-cta .headline--credits {
  margin-left: 6.5rem;
}

.service-cta p {
  text-align: center;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.service-cta a {
  color: var(--color-primary-med);
  transition: all 0.2s;
}
.service-cta a:hover {
  color: var(--color-primary-darker);
}

.service-cta .btn {
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  .card--row {
    flex-direction: row;
  }
  .card--left,
  .card--left .card__headline {
    text-align: left;
  }
  .card__icon {
    max-height: 125px;
  }
  .card__icon--lg {
    max-height: none;
    margin-right: var(--space-4);
  }
  .pricing .card--pricing {
    padding: 0;
    padding-bottom: 1.5rem;
  }
  .pricing__fit-title {
    font-size: var(--text-base);
  }
  .pricing__fit {
    font-size: var(--text-base-sm);
  }
  .expect-list__list li {
    flex: 0 0 45%;
  }
  .expect-list h3 {
    flex: 0 0 80%;
  }
  .service-cta h3 {
    width: 80%;
  }
}

@media (min-width: 980px) {
  .cards {
    flex-direction: row;
    gap: var(--space-6);
  }

  .cards--col {
    flex-direction: column;
  }
  .cards--col .card {
    padding: var(--space-6) var(--space-10) var(--space-8);
    gap: var(--space-8);
  }
  .cards--sm {
    gap: var(--space-2);
  }
  .card {
    padding: var(--space-6);
    min-height: 17rem;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .card--p8 {
    padding: var(--space-6) var(--space-8);
  }
  .card--row {
    flex-direction: row;
  }
  .cards--sm .card {
    min-height: 16rem;
    padding: var(--space-3);
  }
  .card__title {
    font-size: var(--text-lg);
  }
  .pricing.cards {
    flex-direction: row;
  }
  .card--pricing {
    padding-bottom: 1rem;
  }
  .pricing__fit,
  .pricing__aside {
    padding: 0 1rem;
  }
}
