.cards {
  margin: var(--space-4) 0;
  gap: var(--space-8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card {
  padding: var(--space-10);
  border-radius: var(--space-9);
  max-width: 30rem;
  text-align: center;
}

.card--light {
  background: var(--color-lighter);
}

.card__title {
  font-family: var(--font-title);
  font-size: var(--text-xl);
  text-align: center;
  color: var(--color-primary);
  background: url('/img/accent-dashed-line.svg') bottom no-repeat;
  padding-bottom: var(--space-4);
  margin: var(--space-2) 0;
}

.card__title--uppercase {
  text-transform: uppercase;
}

.card__icon {
  display: block;
  margin: 0 auto var(--space-4);
}

@media (min-width: 980px) {
  .cards {
    flex-direction: row;
    gap: var(--space-4);
  }
  .card {
    padding: var(--space-6);
  }
  .card__title {
    font-size: var(--text-lg);
  }
  .card__icon {
    max-height: 125px;
  }
  .btn-lg {
    padding: var(--space-3) var(--space-4);
    font-size: 1rem;
    letter-spacing: 0;
  }
}
