.featured {
  font-size: var(--text-base);
  position: relative;
  min-height: 23rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 23rem;
  text-align: center;
  padding: var(--space-10) var(--space-6) var(--space-12);
}

.featured--primary {
  background: #006a7f url('/img/bkg-primary.webp');
  background-size: cover;
  color: white;
  text-shadow: var(--shadow-dark) 0 0 0.25rem;
}

.featured--primary-dark {
  background: #006a7f url('/img/bkg-primary-dark.webp');
  background-size: cover;
  color: white;
  text-shadow: var(--shadow-dark) 0 0 0.25rem;
}

.featured--light {
  background: url('/img/bkg-light.webp');
  background-size: cover;
}

.featured__cols {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.featured__cta {
  margin-top: var(--space-6);
}

.featured--light .featured__title,
.featured--light form {
  color: var(--color-primary);
}

.featured__title {
  font-family: var(--font-headline);
  font-size: 3.25rem;
  font-weight: normal;
  margin: var(--space-3) var(--space-2) var(--space-4);
  width: 100%;
  text-wrap: pretty;
}

.featured__title--deco {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: var(--space-4);
}

.featured__title--deco .accent {
}

.featured__title--deco .accent--icon-checkbox {
  position: relative;
  top: -1.25rem;
}

/* Bottom Accent */
.featured__title--deco-b {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured__subtitle {
  font-weight: normal;
  line-height: var(--headline-line-height);
  font-size: var(--text-base-lg);
  line-height: var(--leading);
  text-wrap: pretty;
}

.featured__subtitle strong {
  font-family: var(--font-title);
}

.featured--light .featured__subtitle {
  color: var(--color-primary-dark);
}

.featured__cols {
  display: flex;
  justify-content: space-between;
  margin-top: var(--space-2);
}

.featured__copy p {
  margin: var(--space-3) 0;
}

.featured .last-line {
  text-align: center;
}

.featured__icon {
  width: 100%;
  max-width: 150px;
  margin: var(--space-2) 0;
  height: auto;
}

.featured__icon--r {
  float: right;
  margin-left: var(--space-6);
}

.featured__icon--l {
  float: left;
  margin-right: var(--space-6);
}

.featured .featured__img {
  width: 100%;
  height: auto;
}

.featured__img-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured__list {
  text-align: left;
  padding: 0;
  margin: 0;
}

.featured__list li {
  margin-bottom: var(--space-4);
  font-size: var(--text-base);
  line-height: var(--headline-line-height);
  text-wrap: pretty;
  background: url('/img/accent-star-bullet.svg') no-repeat top left;
  padding-left: var(--space-9);
  list-style: none;
  min-height: 1.5rem;
}

.featured__list strong {
  font-family: var(--font-title);
}
.featured a {
  color: currentColor;
  transition: all 0.2s;
  display: inline-block;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}
.featured--light a {
  text-decoration-color: var(--color-accent-dark);
}
.featured a:hover {
  filter: brightness(1.3);
}

@media (min-width: 768px) {
  .featured {
    min-height: 22rem;
    font-size: 1.1em;
  }

  .featured__icon {
    max-width: 175px;
  }
  .featured__icon--r {
    margin-left: var(--space-8);
  }

  .featured__icon--l {
    margin-right: var(--space-8);
  }

  .featured .last-line {
    text-align: left;
  }
  .featured__title--deco .accent {
  }
  .featured__cols {
    gap: var(--space-4);
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .featured {
  }
  .featured__title.lg--left {
    text-align: left;
  }
  .featured__cols {
    flex-direction: row;
    gap: var(--space-8);
  }
}

@media (min-width: 1280px) {
  .featured {
    padding: var(--space-10) var(--space-12);
  }
}
