.featured {
  font-size: var(--text-base);
  position: relative;
  min-height: 23rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 23rem;
  text-align: center;
  padding: var(--space-10) var(--space-6) var(--space-12);
}

.featured--primary {
  background: #006a7f url('/img/bkg-primary.webp');
  background-size: cover;
  color: white;
  text-shadow: var(--shadow-dark) 0 0 0.25rem;
}

.featured--primary-dark {
  background: #006a7f url('/img/bkg-primary-dark.webp');
  background-size: cover;
  color: white;
  text-shadow: var(--shadow-dark) 0 0 0.25rem;
}

.featured--light {
  background: url('/img/bkg-light.webp');
  background-size: cover;
}

.featured__cols {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.featured__cta {
  margin-top: var(--space-6);
}

.featured--light .featured__title,
.featured--light form {
  color: var(--color-primary);
}

.featured__title {
  font-family: var(--font-headline);
  font-size: 3rem;
  font-weight: normal;
  margin: var(--space-3) var(--space-2) var(--space-4);
  width: 100%;
  text-wrap: pretty;
  line-height: 1.5;
}

.featured__title--sm {
  font-size: 2.75rem;
}

.featured__title--deco {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: var(--space-4);
}

.featured__title--deco .accent--star {
  width: 2.75rem;
  height: 2.75rem;
}

.featured__title--deco .accent--icon-checkbox {
  position: relative;
  top: -1.25rem;
}

/* Bottom Accent */
.featured__title--deco-b {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured__subtitle {
  font-weight: normal;
  line-height: var(--headline-line-height);
  font-size: var(--text-base-lg);
  line-height: var(--leading);
  text-wrap: pretty;
}
.featured__subtitle--title {
  position: relative;
  top: -0.75rem;
  font-family: var(--font-title);
  font-weight: bold;
  margin: 0;
  font-size: var(--text-lg);
}

.featured__subtitle--strong {
  font-family: var(--font-title);
  font-weight: bold;
}

.featured__subtitle strong {
  font-family: var(--font-title);
}

.featured--light .featured__subtitle {
  color: var(--color-primary-dark);
}

.featured__cols {
  display: flex;
  justify-content: space-between;
  margin-top: var(--space-2);
}

.featured__copy p {
  margin: var(--space-3) 0;
}

.featured .last-line {
  text-align: center;
}

.featured__icon {
  width: 100%;
  max-width: 150px;
  margin: var(--space-2) 0;
  height: auto;
}

.featured__icon--r {
  float: right;
  margin-left: var(--space-6);
}

.featured__icon--l {
  float: left;
  margin-right: var(--space-6);
}

.featured .featured__img {
  max-width: 100%;
  height: auto;
}

.featured .featured__img--md {
  max-width: 17rem;
}

.featured__img-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured__list {
  text-align: left;
  padding: 0;
  margin: 0;
  flex: 1;
}

.featured__list li {
  margin-bottom: var(--space-4);
  font-size: var(--text-base);
  line-height: var(--headline-line-height);
  text-wrap: pretty;
  background: url('/img/accent-star-bullet.svg') no-repeat top left;
  padding-left: var(--space-10);
  list-style: none;
  min-height: 1.5rem;
  background-size: 1.5rem;
  background-position: 0.75rem 0;
}

.featured__list .featured__list-item--arrow {
  background: url('/img/accent-arrow-accent.svg') no-repeat top left;
  background-size: 2.5rem;
  background-position: -0.5rem 0;
  font-size: var(--text-base-lg);
}

.featured__list strong {
  font-family: var(--font-title);
}
.featured p a,
.featured h3 a {
  color: var(--color-primary-dark);
  transition: all 0.2s;
  display: inline-block;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  font-weight: bold;
}
.featured--light p a,
.featured--light h3 a {
  text-decoration-color: var(--color-accent-dark);
}
.featured--primary-dark p a,
.featured--primary p a,
.featured--primary-dark li a,
.featured--primary li a {
  color: white;
  text-decoration-color: var(--color-accent-dark);
  text-underline-offset: 4px;
}

.featured p a:hover,
.featured h3 a:hover {
  filter: brightness(1.3);
}

.featured--primary-dark p a:hover,
.featured--primary-dark li a:hover,
.featured--primary-dark h3 a:hover {
  text-decoration-color: var(--color-accent);
}

.featured__img--sm-hide,
.featured__img--md-hide {
  display: none;
}

.featured__aside {
  background: rgba(0, 0, 0, 0.1);
  text-align: left;
  font-family: var(--font-title);
  font-size: var(--text-base);
  padding: var(--space-5) var(--space-8) var(--space-4);
  border-radius: var(--space-8);
  margin-top: var(--space-6);
}

.featured__aside p {
  margin: 0;
  margin-bottom: 0.5rem;
  line-height: 1.4;
}

.featured__imagine {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: var(--space-8);
  padding: var(--space-6);
  font-size: var(--text-base-sm);
  position: relative;
  padding-top: 10rem;
  padding-bottom: 2rem;
  margin-top: 3rem;
  font-weight: bold;
}

.featured__imagine--mt5 {
  margin-top: 5rem;
}

.imagine__img {
  position: absolute;
  top: -6rem;
}

.featured__imagine p {
  margin: 0.5rem 0;
}

.featured__imagine strong {
  font-family: var(--font-title);
}

.featured__imagine .btn {
  margin-top: 1rem;
  gap: 0rem;
}

.featured__cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured--primary img {
  filter: drop-shadow(0 0 0.5rem rgb(0 0 0 / 0.3));
}

@media (min-width: 768px) {
  .featured {
    min-height: 22rem;
    font-size: 1.1em;
  }

  .featured__icon {
    max-width: 175px;
  }
  .featured__icon--r {
    margin-left: var(--space-8);
  }

  .featured__icon--l {
    margin-right: var(--space-8);
  }

  .featured .last-line {
    text-align: left;
  }
  .featured__title--deco .accent {
  }
  .featured__cols {
    gap: var(--space-4);
    flex-direction: row;
    align-items: center;
  }
  .featured__cols--lg {
    flex-direction: column;
  }
  .featured--left {
    text-align: left;
  }
  .featured__img--sm-hide {
    display: block;
    padding-right: 2rem;
  }
  .featured__imagine {
    padding-top: 8rem;
    margin-top: 4rem;
  }
}

@media (min-width: 1024px) {
  .featured__img--md-hide {
    display: block;
    padding-right: 2rem;
  }
  .featured {
  }
  .featured__title.lg--left {
    text-align: left;
  }
  .featured__cols {
    flex-direction: row;
    gap: var(--space-8);
  }
  .featured__imagine {
    padding-top: 8rem;
    margin-left: 2rem;
  }
  .featured--imagine {
    padding: var(--space-8) var(--space-6) var(--space-8);
  }
}

@media (min-width: 1280px) {
  .featured {
    padding: var(--space-10) var(--space-12);
  }
}
