form label,
form legend {
  color: var(--color-primary-dark);
  line-height: 1.3;
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
  margin: var(--space-8) auto 0;
  max-width: 30rem;
}

.generic-form {
  justify-content: center;
}

.form-group,
.form__col {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
  flex: 1;
}

.form-group__label {
  font-family: var(--font-title);
  font-weight: bold;
  font-size: var(--text-base-lg);
}

.form-group__input,
.form-group__textarea {
  border: 0;
  border-radius: var(--space-3);
  border: 2px solid var(--color-accent);
}

.form-group__input--text,
.form-group__textarea {
  padding: var(--space-3) var(--space-4);
}

.form-group__textarea {
  min-height: 6rem;
}

.form-group__checked {
}

.label__meta {
  font-size: var(--text-xs);
  font-family: var(--font-copy);
  font-weight: normal;
}

.form fieldset {
  flex: 0 0 100%;
  border: 2px solid var(--color-accent);
  border-radius: 1rem;
  padding: var(--space-4) var(--space-4) var(--space-5);
}
.form-group--checked {
}

.form-group legend {
  padding: 0 0.5rem;
}

.checked-list__option {
  display: flex;
  gap: var(--space-4);
}

.form-group--checked input,
.form-group--radio input {
  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid var(--color-primary);
}

.start-here label,
.start-here legend {
  font-size: var(--text-base);
}

@media (min-width: 768px) {
  form label {
    color: var(--color-primary-med);
  }
  .form {
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--space-8);
    max-width: var(--break-lg);
  }
  .form__group,
  .form__col {
    align-items: stretch;
  }
  .form__col {
    gap: var(--space-6);
  }

  .form-group__textarea,
  .form-group__input,
  .form-group__label {
    flex: 1;
  }
  .form-group__label {
    text-align: left;
  }
  .form-group--textarea .form-group__label {
    flex: none;
  }

  .form__col {
    flex: 2;
  }
  .form-group--textarea {
    flex: 3;
  }

  .generic-form .form-group--textarea {
    flex: 0 0 100%;
  }
}

.contact .form__msg {
  display: none;
}

.contact .form .btn-group {
  margin-top: 0;
}
