.hero {
  padding: var(--space-8) var(--space-4);
  background: url('/img/bkg-light.webp');
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
}

.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--space-4);
  padding: var(--space-4) var(--space-3);
  min-height: 90vh;
}

.hero__img {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: var(--space-2) 0;
  max-width: 28rem;
}

.hero__text {
  flex: 1;
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;
}

.hero__headline {
  margin: 1rem 0 0.5rem;
  font-family: var(--font-headline);
  font-size: 2.65rem;
  font-weight: normal;
  text-align: center;
  color: var(--color-primary-dark);
  line-height: var(--headline-line-height);
}

.hero__headline--primary {
  color: var(--color-primary);
}

.hero__copy {
  text-align: center;
  text-wrap: pretty;
  padding: 0 var(--space-2);
  font-size: var(--text-base-lg);
}

.hero__btn {
  margin-top: var(--space-6);
}

/* Page Specific */

.home .hero img {
  width: 100%;
  height: auto;
  display: block;
  max-width: 500px;
  aspect-ratio: 500 / 460;
}

@media (min-width: 768px) {
  .hero {
    padding: var(--space-8) var(--space-6);
  }
  .hero__img {
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .hero__headline {
    font-size: 3rem;
  }
  .hero .container {
    flex-direction: row;
    gap: var(--space-8);
    min-height: 26rem;
  }
}

@media (min-width: 1024px) {
  .hero {
    min-height: 31rem;
  }
  .hero .container {
    min-height: 30rem;
  }
  .hero__headline {
    font-size: 3.5rem;
  }

  .hero__copy {
    font-size: 1.1rem;
  }
}
