.hero {
  padding: var(--space-6) var(--space-5);
  background: url('/img/bkg-light.webp');
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
}

.hero .container {
  text-align: center;
}

.hero__img {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: var(--space-2) 0;
  margin: 0 auto;
}

.hero__img img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.hero__text {
  flex: 1;
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
  max-width: 32rem;
}

.hero__headline {
  margin: 1rem 0 0.5rem;
  font-family: var(--font-headline);
  font-size: 2.5rem;
  font-weight: normal;
  text-align: center;
  color: var(--color-primary-med);
  line-height: var(--headline-line-height);
}

.hero__headline--deco {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--space-6);
}

.hero__headline--deco .accent {
  display: none;
}

.hero__headline--primary {
  color: var(--color-primary);
}

.hero__headline--2xl {
  font-size: 2.5rem;
}

.hero__headline--3xl {
  font-size: var(--text-3xl);
}

.hero__headline--4xl {
  font-size: var(--text-4xl);
}

.hero__subtitle {
  font-family: var(--font-title);
  color: var(--color-primary-dark);
  text-align: center;
  font-size: var(--text-lg);
  line-height: var(--headline-line-height);
  font-weight: normal;
  max-width: 28rem;
  margin: 1rem auto;
}

.hero__subtitle--bold {
  font-weight: bold;
}

.hero__copy {
  text-align: center;
  text-wrap: pretty;
  font-size: var(--text-base-lg);
}

.hero__copy--mb0 {
  margin-bottom: 0;
}

.hero__copy--sm {
  font-size: var(--text-base);
}

.hero__copy--balance {
  text-wrap: balance;
}

.hero__copy strong {
  color: var(--color-primary-dark);
}

.hero__btn {
  margin: 0 auto;
  margin-top: 1.5rem;
  box-shadow: 0 0 1rem #ffffff;
}

.hero a:not(.btn) {
  color: var(--color-primary-med);
}

/* Page Specific */

.home .hero img {
  width: 100%;
  height: auto;
  display: block;
  max-width: 500px;
  aspect-ratio: 500 / 460;
}

.services .hero__img {
  max-width: 22rem;
}

@media (min-width: 768px) {
  .hero {
    padding: var(--space-8) var(--space-6);
  }
  .hero__img,
  .hero__text {
    flex: 1;
  }

  .hero__headline--3xl {
    font-size: 3rem;
  }
  .hero__headline--2xl {
    font-size: 2.5rem !important;
  }

  .hero--flex-2 {
    flex: 2;
  }
  .hero .container--gap-lg {
    gap: var(--space-12);
  }

  .hero .container--sm {
    min-height: 0;
  }
}

@media (min-width: 980px) {
  .hero .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-6);
    padding: 1rem 0 1.5rem;
  }
  .hero__text {
    max-width: 30rem;
  }
}

@media (min-width: 1024px) {
  .hero__headline--deco .accent {
    display: block;
  }

  .hero__copy {
    font-size: 1.1rem;
  }
  .hero__copy--sm {
    font-size: var(--text-base);
  }
  .hero__btn {
    border-radius: 3rem;
    font-size: 1.15rem;
  }
  .hero__headline--2xl {
    font-size: 3rem !important;
  }
}

@media (min-width: 1200px) {
  .hero__headline {
    font-size: 3rem;
  }
}
