@import url('../../node_modules/modern-normalize/modern-normalize.css');
@import url('includes/_base.css');
@import url('includes/_components.css');
@import url('includes/_utils.css');

body {
  font-family: var(--font-copy);
  color: var(--color-dark);
}

.accent {
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
  position: relative;
}

.accent--star {
  background: url('/img/star-accent.svg') no-repeat;
  background-size: contain;
}

.accent--arrow {
  background: url('/img/accent-arrow.svg') no-repeat right;
  background-size: contain;
  width: 3rem;
  position: relative;
}

.accent--arrow-sm {
  background: url('/img/accent-arrow-sm-dk.svg') no-repeat center;
  background-size: contain;
  width: 2rem;
  position: relative;
}

.accent--star-dark {
  background: url('/img/star-accent-dark.svg');
  background-size: contain;
}

.accent--underline {
  display: inline-block;
  background: url('/img/accent-underline.svg') no-repeat bottom left;
  background-size: contain;
  padding-bottom: 0.75rem;
}

.accent-underline--primary {
  display: block;
  background: url('/img/accent-underline-primary.svg') no-repeat bottom center;
  background-size: contain;
  height: 1.5rem;
  width: 25rem;
  max-width: 85%;
}

.accent--dots {
  display: inline-block;
  background: url('/img/accent-dots.svg') no-repeat center;
  background-size: contain;
  height: 0.75rem;
  width: 2.5rem;
  position: relative;
  top: 40%;
}

.b-after::after {
  content: '';
  width: 100vw;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 0;
  background: var(--color-accent);
  z-index: 49;
}

.add-dashed::after {
  content: '';
  width: 100%;
  display: block;
  background: url('/img/accent-dashed-line.svg') no-repeat;
  height: 1rem;
  margin-top: 1rem;
}

.main_content {
  padding: var(--space-8) var(--space-4);
}

.main_content .container {
  max-width: var(--break-lg);
}

.main_content__title {
  font-family: var(--font-headline);
  font-weight: normal;
  font-size: var(--text-3xl);
  text-align: center;
  color: var(--color-primary);
  margin: var(--space-6) auto;
  max-width: 35rem;
}

.main_content__title--wdeco {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--space-8);
}

.main_content__title--wdeco .accent {
  display: none;
}

.main_content__subtitle {
  font-weight: normal;
  color: var(--color-primary-dark);
  text-align: center;
  margin: var(--space-4) auto;
  margin-bottom: var(--space-8);
  max-width: 35rem;
  line-height: var(--line-height-sm);
}

.work__title {
  font-family: var(--font-title);
  font-weight: bold;
}
.work__desc {
  font-style: italic;
}
.work__img {
  border: 3px solid var(--color-accent);
  box-shadow: var(--shadow-dark-4) 0 0 var(--space-4);
  max-width: 320px;
}

.work__copy {
  margin-top: var(--space-3);
  line-height: var(--line-height-sm);
}

@media (min-width: 600px) {
  .main_content__title--wdeco .accent {
    display: block;
  }
  .work__img {
    max-width: 340px;
    aspect-ratio: 500 / 350;
  }
}

@media (min-width: 980px) {
  .main_content__subtitle {
    max-width: 50rem;
  }
}
