@import url('../../node_modules/modern-normalize/modern-normalize.css');
@import url('includes/_base.css');
@import url('includes/_utils.css');
@import url('includes/_components.css');

body {
  font-family: var(--font-copy);
  color: var(--color-dark);
}

.accent {
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
  position: relative;
}

.accent--star {
  background: url('/img/star-accent.svg');
  background-size: contain;
}

.accent--underline {
  display: inline-block;
  background: url('/img/accent-underline.svg') no-repeat bottom left;
  background-size: contain;
  padding-bottom: 0.75rem;
}

.b-after::after {
  content: '';
  width: 100vw;
  height: 2px;
  position: absolute;
  bottom: -4px;
  left: 0;
  background: var(--color-accent);
  z-index: 49;
}
