---
title: "Affordable Web & Graphic Design for Nonprofits + Small Biz"
layout: layouts/base.html
body_classes: home
page_desc: "Custom websites and graphic design for nonprofits and small businesses. Friendly, budget-friendly design with accessibility and performance in mind."
preload: '
<link rel="preload" as="image" href="/img/bkg-light.webp">'
---

<!-- Hero -->
<section class="hero accent--border">
  <div class="container container--lg">
    <div class="hero__img" style="flex:0 0 55%">
      <img src="/img/hero-home.webp" alt="Image of a woman with a blurred colorful background with text that says Hi, I'm Toni" width="500" height="460">
    </div>
    <div class="hero__text" style="flex: 0 0 45%">
      <h2 class="hero__headline">Design that makes things easier</h2>
      <p class="hero__copy"><span class="first-line">I help small businesses and nonprofits</span> with affordable web and graphic design — starting with <strong> focused Design SOS sessions</strong> that free up your time for the work you care about most.<br>
        <a class="hero__btn btn btn--wide btn--accent btn--deco btn--deco-wide" href="#help"><span class="accent accent--star-dark"></span>
          See How I Can Help</a>
      </p>
    </div>
  </div>
</section>

<!-- What If... -->
<section class="featured featured--primary accent--border">
  <div class="container container--md md:text-left ">
    <h2 class="featured__title featured__title--deco"><span class="accent accent--star"></span> What
      if...?</h2>
    <div class="featured__copy">
      <p><span class="first-line--light"> What if you didn't have to spend weeks staring </span>at that broken layout or glitchy button...wondering how to fix it without breaking everything else?</p>
      <p><span class="first-line--light">
          <img src="/img/icon-convo.svg" width="200" height="184" alt="Icon of two speech bubbles" class="featured__icon featured__icon--l md:visible">
          What if instead,</span> you just send me a quick message like, <em>“Can you fix
          this, pleaaaase?”</em> </p>
      <p><span class="first-line--light">I quickly write back</span> and say, <em>“Of course.”</em></p>
      <p class="text-base-lg"><span class="first-line--light">And then it just...<span class="
          accent--underline">looks good and works?</span></span></p>
    </div>
  </div>
</section>

<!-- Main Content -->
<main class="main_content accent--border" id="help">
  <article class="container container--lg">

    <h2 class="main_content__title main_content__title--deco"><span class="accent accent--dots"></span> How I
      Can Help
      <span class="accent accent--dots"></span>
    </h2>
    <h3 class="main_content__subtitle container container--md"><span class="first-line">From design emergencies to ongoing support</span> — I offer solutions that make your day-to-day easier, starting exactly where you need help most.
    </h3>


    <div class="cards cards--thirds">

      <article class="card card--light  card--shadow">
        <img src="/img/icon-sos_2.svg" alt="" width="200" height="165" class="card__icon">
        <h4 class="card__title card__title--uppercase">
          Design SOS</h4>
        <p class="card__copy"><span class="first-line">Got a design mess? </span> Website weirdness? Broken layout? Send it my way and I’ll take care of it: quick, affordable, and almost like magic.</p>
        <a href="/services/design-sos" class="btn btn--accent btn--deco card__btn">
          <span>How It Works </span><span class="accent accent--arrow-sm"></span></a>
      </article>

      <!-- Design Support -->
      <article class="card card--light  card--shadow">
        <img src="/img/icon-toolbox_2.svg" alt="Icon of a conversation" width="200" height="165" class="card__icon">
        <h4 class="card__title card__title--uppercase">DIY Toolbox</h4>
        <p class="card__copy"><span class="first-line">Want to tackle design </span> yourself? Templates, guides, and tools to help you create professional-looking materials on your own timeline.</p>
        <a href="/mailing-list" class="btn btn--accent btn--deco card__btn"><span>Get Early Access</span><span class="accent accent--arrow-sm"></span></a>
      </article>


      <article class="card card--light  card--shadow">
        <img src="/img/icon-gift_4.svg" alt="Icon of a computer monitor and a piece of paper" width="200" height="165" class="card__icon">
        <h4 class="card__title card__title--uppercase">Free Resources</h4>
        <p class="card__copy"><span class="first-line"> Start improving your design</span> on your own with templates and guides I've created for small business owners and nonprofits.</p>
        <a href="/free-resources" class="btn btn--accent  btn--deco card__btn"><span>See Resources </span><span class="accent accent--arrow-sm"></span></a>
      </article>


    </div>
  </article>
</main>

<!-- Featured Work -->
<aside class="featured featured--primary-dark accent--border">
  <div class="container">
    <h2 class="featured__title  featured__title--deco-b">Selected Work <span class="accent--underline-primary"></span>
    </h2>
    <h3 class="featured__subtitle"><strong class="font-title">Here’s a peek</strong> at what <em>thoughtful, effective
        design</em> can look
      like - from quick fixes to complete transformations.</h3>

    <div class="cards cards--transparent cards--center">
      <div class="card card--transparent">
        <button class="modal__btn btn--bg-dark open-modal-button" data-image="/img/work/ugli-sm.webp" data-alt="UGLI Foundation" data-description="Instagram graphics for various campaigns">
          <img loading="lazy" src="/img/work/ugli-sm_sm.webp" alt="An image showcasing 5 social media graphics" width="500" height="350" class="card__img card__img--md work__img"></button>
        <p class="card__copy"><span class="work__title">UGLI Foundation</span><br>
          <span class="work__desc">Social Media Graphics</span>
        </p>
      </div>
      <div class="card card--transparent">
        <button class="modal__btn btn--bg-dark open-modal-button" data-image="/img/work/hff-website.webp" data-alt="Website for Horschel Family Foundation" data-description="Website Design and Wordpress Development" data-link="https://horschelfamilyfoundation.org">
          <img src="/img/work/hff-website_sm.webp" alt="Website for Horschel Family Foundation" width="500" height="350" class="card__img card__img--md work__img">
        </button>
        <p class="card__copy"><span class="work__title">Horschel Family Foundation</span><br>
          <span class="work__desc">Website Design</span>
        </p>
      </div>
      <div class="card card--transparent">
        <button class="modal__btn btn--bg-dark open-modal-button" data-image="/img/work/wrf_deck.webp" data-alt="We Rise Foundation" data-description="Event Sponsorship Deck">
          <img loading="lazy" src="/img/work/wrf_deck_sm.webp" alt="An image showcasing a sponsorship deck" width="500" height="350" class="card__img card__img--md work__img"></button>
        <p class="card__copy"><span class="work__title">We Rise Foundation</span><br>
          <span class="work__desc">Sponsorship Materials</span>
        </p>
      </div>
    </div>

  </div>
</aside>

<!-- Why Me? -->
<aside class="featured featured--light text-base">
  <div class="container container--xl featured__cols gap-8">
    <div class="featured__img-container flex-2">
      <img src="/img/featured-working.webp" width="500" height="501" alt="A woman working at a computer" class="featured__img max-w-20 lg:max-w-24">
    </div>
    <article class="flex-3 lg:text-left" style="max-width:650px">
      <h2 class="featured__title text-primary accent--dashed lg:text-left">Why Hire Me?</h2>
      <div class="article__copy text-base">
        <p><span class="first-line"> I’ve been designing for small businesses & nonprofits</span> for 20 years, so
          I’ve seen how much you’re juggling:
          the never-ending to-do list, the limited hours, the constant pull between what needs to get done and what you
          wish you had time to focus on. My goal is to give you some of that time back by making design feel less like a
          chore and more like a quiet relief.</p>
        <p>
          <span class="first-line"> I don’t only care about how things look </span>(though, of course, I care about that too!); I care about how they work, whether that’s a donation form that actually functions or a layout that loads properly on mobile.</span>
        <p><span class="first-line">My goal is to make your day-to-day</span> just a little bit easier. Whether I'm fixing a website emergency or creating a flyer, I'll show up with clarity, thoughtfulness, and zero unnecessary stress!
        </p>
      </div>
      <div class="featured__cta">
        <a href="/about" class="btn btn--accent btn--deco "><span>Learn More About Me</span><span class="accent accent--arrow"></span></a>
      </div>

    </article>
  </div>
</aside>

<!-- Contact -->
<aside class="featured featured--primary">
  <div class="container container--lg">
    <h2 class="featured__title featured__title--deco leading-sm"><span class="accent accent--star  accent--sm-hide"></span> <span>Need a Design Fix?</span></h2>
    <h3 class="featured__subtitle"><span class="first-line--light"> Tell me what's driving you crazy</span> and I'll reply with next steps and how I can help.</h3>

    {% include "components/contact-form.html" %}
  </div>
</aside>

{% include "components/modal.html" %}
<script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>